<!DOCTYPE html>
<html lang="en">
<head>
  <title>One Word Online</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#home" onclick="updatePage('home')">One Word Online</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#host" onclick="updatePage('host')">Host</a></li>
          <li><a href="#join" onclick="updatePage('join')">Join</a></li>
        </ul>
      </div>
    </div>
</nav>

<div class="container" id="joinRoom">
    <div class="row mb-3">
        <div class="col-4 themed-grid-col">Enter Room Code:</div>
        <div class="col-4 themed-grid-col">
            <input id=channel placeholder="Channel" />
        </div>
        <div id=currentChannel class="col-4 themed-grid-col"></div>
    </div>
    <div class="row">
    <div class="col-4">Enter Chat and press enter</div>
    <div class="col-4"><input id=input placeholder="message" /></div>
    </div>
    Chat Output
    <div id=box></div>
</div>

<script>
    function updatePage(page) {
        if (page==="home") {
            document.getElementById('joinRoom').style.display=''
        }
        if (page==="join") {
            document.getElementById('joinRoom').style.display=''
        }
        if (page==="host" || page==='') {
            document.getElementById('joinRoom').style.display='none'
        }
    }
</script>

<!-- pubnub references: https://www.pubnub.com/docs/web-javascript/api-reference-publish-and-subscribe -->
<script src=https://cdn.pubnub.com/sdk/javascript/pubnub.4.28.2.min.js></script>
<script> 
function arrayRemove(arr, value) { 
    
    return arr.filter(function(ele){ 
        return ele != value; 
    });
}

(
    function() {
        var pubnub = new PubNub({
            publishKey: 'pub-c-b5bd9a20-65df-491c-aef5-291a6fb065cc',
            subscribeKey: 'sub-c-6b6a1a6e-4beb-11eb-a73a-1eec528e8f1f'
        });
        function $(id) {
            return document.getElementById(id);
        }
        var box = $('box'),
            input = $('input'),
            channel = $('channel'),
            currentChannel = $('currentChannel');
        pubnub.addListener({
            message: function(obj) {
                box.innerHTML = ('' + obj.message).replace(/[<>]/g, '') + '<br>' + box.innerHTML
            }
        });

        channel.addEventListener('keyup', function(e) {
            if ((e.keyCode || e.charCode) === 13) {
                newChannel = channel.value
                prev = pubnub.getSubscribedChannels()
                if (prev.includes(newChannel)) {
                    unsubChannels = arrayRemove(prev, newChannel)
                } else {
                    pubnub.subscribe({
                        channels: [newChannel]
                    })
                    unsubChannels = prev
                }
                pubnub.unsubscribe({
                    channels: unsubChannels
                })
                currentChannel.innerHTML = "Current Room: " + newChannel
            }
        });
        input.addEventListener('keyup', function(e) {
            if ((e.keyCode || e.charCode) === 13) {
                pubnub.publish({
                    channel: channel.value,
                    message: input.value,
                    x: (input.value = '')
                });
            }
        });
    })();
</script>