<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- pubnub references: https://www.pubnub.com/docs/web-javascript/api-reference-publish-and-subscribe -->
<div class="row mb-3">
    <div class="col-4 themed-grid-col">Enter Room Code:</div>
    <div class="col-4 themed-grid-col">
        <input id=channel placeholder="Channel" />
    </div>
    <div id=currentChannel class="col-4 themed-grid-col"></div>
</div>
<div class="row">
<div class="col-4">Enter Chat and press enter</div>
<div class="col-4"><input id=input placeholder="message" /></div>
</div>
Chat Output
<div id=box></div>
<script src=https://cdn.pubnub.com/sdk/javascript/pubnub.4.28.2.min.js></script>
<script> 
function arrayRemove(arr, value) { 
    
    return arr.filter(function(ele){ 
        return ele != value; 
    });
}

(
    function() {
        var pubnub = new PubNub({
            publishKey: 'pub-c-b5bd9a20-65df-491c-aef5-291a6fb065cc',
            subscribeKey: 'sub-c-6b6a1a6e-4beb-11eb-a73a-1eec528e8f1f'
        });
        function $(id) {
            return document.getElementById(id);
        }
        var box = $('box'),
            input = $('input'),
            channel = $('channel'),
            currentChannel = $('currentChannel');
        pubnub.addListener({
            message: function(obj) {
                box.innerHTML = ('' + obj.message).replace(/[<>]/g, '') + '<br>' + box.innerHTML
            }
        });

        channel.addEventListener('keyup', function(e) {
            if ((e.keyCode || e.charCode) === 13) {
                newChannel = channel.value
                prev = pubnub.getSubscribedChannels()
                if (prev.includes(newChannel)) {
                    unsubChannels = arrayRemove(prev, newChannel)
                } else {
                    pubnub.subscribe({
                        channels: [newChannel]
                    })
                    unsubChannels = prev
                }
                pubnub.unsubscribe({
                    channels: unsubChannels
                })
                currentChannel.innerHTML = "Current Room: " + newChannel
            }
        });
        input.addEventListener('keyup', function(e) {
            if ((e.keyCode || e.charCode) === 13) {
                pubnub.publish({
                    channel: channel.value,
                    message: input.value,
                    x: (input.value = '')
                });
            }
        });
    })();
</script>